# Requirements for the Web App - Search Frontend
# These should be synced up with the dependencies in the
# associated Jupyter notebook. 

###### Requirements without Version Specifiers ######
Flask
Flask-SocketIO # Websockets
pandas 
pycountry # Handle country codes and languages
pymongo 
psycopg 
redis
requests
uuid

###### Requirements with Version Specifiers ######