<html>
    <head>
        <title>MSDS - Data Mgmt - Final Project - App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    </head>
    <body>
        <h2> Twitter Search Application </h2>
        <div class="parentContainer">
            <div class="sidenav">
                <h3>Search Option</h3> <br>
                <!--<form name="searchOptionsForm" method="get" action="/tweets/search?">-->
                    <button class="accordion">Tweets</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input id="tweetText" class="textInput" type="text" name="tweetText" placeholder="Type in tweet text..."/>
                            <br><br>
                            Exact <input id="tweetTextSearchModeExact" type="radio" name="tweetSearchMode" value="Exact" checked>
                            All <input id="tweetTextSearchModeAll" type="radio" name="tweetSearchMode" value="All">
                            Any <input id="tweetTextSearchModeAny" type="radio" name="tweetSearchMode" value="Any">
                        </p>
                    </div>

                    <button class="accordion">Hashtags</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input id="hashtagText" class="textInput" type="text" name="hashtagText" placeholder="Type in hashtag(s)..." />
                            <br><br>
                            Exact <input id="hashtagSearchModeExact" type="radio" name="hashtagSearchMode" value="Exact" checked>
                            All <input id="hashtagSearchModeAll" type="radio" name="hashtagSearchMode" value="All">
                            Any <input id="hashtagSearchModeAny" type="radio" name="hashtagSearchMode" value="Any">
                        </p>
                    </div>

                    <button class="accordion">People</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input id="peopleText" class="textInput" type="text" name="peopleText" placeholder="John Jane..." />
                            <br><br>
                            From <input id="peopleSearchModeFrom" type="radio" name="peopleSearchMode" value="From" checked>
                            Reply <input id="peopleSearchModeReply" type="radio" name="peopleSearchMode" value="Reply">
                            Mention <input id="peopleSearchModeMention" type="radio" name="peopleSearchMode" value="Mention">
                        </p>
                    </div>

                    <button class="accordion">Language</button>
                    <div class="panel">
                        <p style="margin-left: 20px; text-align: left;">
                            <!-- Replace with dynamically created drop down for the language-->
                            <select name="searchLanguage" id="searchLanguage">
                                <option value="ANY">ANY</option>
                            </select>
                        </p>
                    </div>

                    <button class="accordion">Place</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            Type: <select name="searchPlaceType" id="searchPlaceType">
                                <option value="ANY">ANY</option>
                            </select><br>
                            Country: <select name="searchPlaceCountry" id="searchPlaceCountry">
                                <option value="ANY">ANY</option>
                            </select><br>
                            Name: <input id="searchPlaceName" class="textInput" type="text" name="searchPlaceName" placeholder="New York" value=""/>
                            Enabled: <input type="checkbox" id="searchPlace" name="searchPlace">
                        </p>
                    </div>

                    <button class="accordion">Time Frame</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            Start Date: <input id="searchStartDate" name="searchStartDate" type="datetime-local"><br>
                            End Date: <input id="searchEndDate" name="searchEndDate" type="datetime-local"><br>
                            Enabled: <input type="checkbox" id="searchTimeFrame" name="searchTimeFrame">
                        </p>
                    </div>

                    <button class="accordion">Other</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            Max Results: <input type="number" min="10" max="100" id="maxResults" 
                                                name="maxResults" placeholder="30" value="30"> <br>
                            Cache Max: <input type="number" min="1" max="50" id="maxSearchesCached" 
                                                name="maxSearchesCached" placeholder="10" value="10"> <br>
                            Expiry (Secs): <input type="number" min="1" max="60" id="searchCacheExpiry" 
                                                name="searchCacheExpiry" placeholder="5" value="5">
                        </p>
                    </div>

                    <p style="text-align: center;">
                        <br><br> <input type="button" id="searchButton" name="searchButton" value="Search"> <br>
                    </p>

                <!--</form>-->
            </div>

            <div class="mainBody">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Latest')">Latest</button>
                    <button class="tablinks" onclick="openTab(event, 'Popular')">Popular</button>
                    <button class="tablinks" onclick="openTab(event, 'Authoritative')">Authoritative</button>
                    <button class="tablinks" onclick="openTab(event, 'Influence')">Influence</button>
                    <button class="tablinks" onclick="openTab(event, 'Ingest')">Ingest Data</button>
                </div>
                
                <!-- Tab content -->
                <div id="DataTab" class="tabcontent">
                    <table id="tweet-data" class="table table-striped myDataTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created At</th>
                                <th>Creator</th>
                                <th>Tweet</th>
                                <th>Hashtags</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="Ingest" class="tabcontent">
                    <!-- Data Insertion Control -->
                    <div class="dataInsertionControl">
                        <div>
                            <H3>Data Insertion Control</H3>
                            <p style="width: 600px; word-break: break-all; word-wrap: break-word;">
                                This allows the user to simulate streaming of data into the application.
                                Specify the insertion speed in number of records per second and click
                                "Stream". Insertion delay can vary from 50 to 60000 milliseconds (60 seconds).
                                Effectively a rate of 20 records / second to 1 every minute. Keep in mind that
                                system timer may not be precise enough to support single digit sleep.
                    
                                User can also insert all the data at once in "batch" mode.
                                Please note "batch" mode doesn't actually insert in batches it just
                                eliminates the delay between records.
                            </p>
                    
                            <form id="insertionForm" method="get">
                                <label for="text">Delay (millis):</label>
                                <input type="number" min="50" max="60000" id="insertionDelay" name="insertionDelay" placeholder="10"
                                    value="10">
                                <input id="insertButton" type="button" value="Start" name="insertButton">
                                <input id="clearButton" type="button" value="Clear" name="clearButton">
                                <br> <br>
                                Stream <input id="streamMode" type="radio" name="ingestionMode" value="stream" checked>
                                Batch <input id="batchMode" type="radio" name="ingestionMode" value="batch">
                                Corona-Out-2 <input type="radio" name="dataSampleChoice" id="sampleCorona2" checked>
                                Corona-Out-3 <input type="radio" name="dataSampleChoice" id="sampleCorona3">
                            </form>
                            <div style="padding: 0px; border-style: inset; background-color: #b4b2b2; width: 200px">
                                <div id="insertProgress" style="background-color: #77a77a; width:0%;">0%</div>
                            </div>
                            <br>
                            <div id="log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------ Begin Script ----------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <script>
            // Initialize script globals
            var acc = document.getElementsByClassName("accordion");
            // Websocket is used to show progress as records are inserted into the DB
            var socket = io();

            // All Search controls
            var searchButton = document.getElementById("searchButton")
            // Tweet
            var tweetTextInput = document.getElementById("tweetText")
            var tweetTextSearchModeExact = document.getElementById("tweetTextSearchModeExact")
            var tweetTextSearchModeAll = document.getElementById("tweetTextSearchModeAll")
            // Hashtag
            var hashtagTextInput = document.getElementById("hashtagText")
            var hashtagTextSearchModeExact = document.getElementById("hashtagSearchModeExact")
            var hashtagTextSearchModeAll = document.getElementById("hashtagSearchModeAll")
            // People
            var peopleTextInput = document.getElementById("peopleText")
            var peopleTextSearchModeFrom = document.getElementById("peopleSearchModeFrom")
            var peopleTextSearchModeReply = document.getElementById("peopleSearchModeReply")
            // Results
            var maxResultsInput = document.getElementById("maxResults")
            var displayOrder = "" // initially undefined. Determined by tab selection.
            // Cache
            var maxSearchesCached = document.getElementById("maxSearchesCached")
            var searchCacheExpiry = document.getElementById("searchCacheExpiry")
            // Date
            var searchStartDateInput = document.getElementById("searchStartDate")
            var searchEndDateInput = document.getElementById("searchEndDate")
            var searchTimeFrameCheckbox = document.getElementById("searchTimeFrame")
            // Language and Place
            var searchLanguageDropdown = document.getElementById('searchLanguage')
            var searchPlaceTypeDropdown = document.getElementById('searchPlaceType')
            var searchPlaceCountryDropdown = document.getElementById('searchPlaceCountry')
            var searchPlaceNameInput = document.getElementById('searchPlaceName')
            var searchPlaceCheckbox = document.getElementById('searchPlace')
            

            // Insert button handle
            var insertionDelayButton = document.getElementById("insertionDelay")
            var streamModeButton = document.getElementById("streamMode")
            var insertButton = document.getElementById("insertButton");
            var clearButton = document.getElementById("clearButton")
            var insertProgressBar = document.getElementById("insertProgress")
            var sampleCorona2 = document.getElementById("sampleCorona2")

            // We don't really handle time zones conversion between user
            // and actual tweet data
            function fnGetDateTime(dt){
                dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset());
                return dt.toISOString().slice(0, 16);
            }

            // Initialize date controls
            var startDate = new Date();
            startDate.setDate(startDate.getDate() - 30); // arbitry time period
            document.getElementById('searchStartDate').value = fnGetDateTime(startDate);
            document.getElementById('searchEndDate').value = fnGetDateTime(new Date());

            // Handle Websocket updates from server showing progress from processing Tweets
            socket.addEventListener('update', event => {
                console.log(event)
                updateProgress(event.progress)
            });

            socket.addEventListener('stopped', event => {
                console.log(event)
                insertButton.value = "Insert"
            });

            socket.on('connect', function () {
                socket.emit('get_updates');
            });

            const updateProgress = (progress) => {
                insertProgressBar.innerHTML = `${progress}`;
                insertProgressBar.style.width = `${progress}`

                insertButton.value = "Stop"
            };

            // Search control initialization
            document.getElementById('searchLanguage').onclick = function () {
                console.log("Clicked on language...")

                try {
                    // Get languages from data
                    url = "http://" + window.location.host + "/languages";
                    // Replace ./data.json with your JSON feed
                    fetch(url).then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        // Clear menu
                        while (searchLanguageDropdown.firstChild) {
                            searchLanguageDropdown.removeChild(searchLanguageDropdown.firstChild);
                        }
                        // Add default option
                        var option = document.createElement("option");
                        option.value = "ANY"
                        option.text = "ANY"
                        searchLanguageDropdown.appendChild(option)

                        for (langRec of data.languages) {
                            var option = document.createElement("option");
                            option.value = langRec.code
                            option.text = langRec.language
                            searchLanguageDropdown.appendChild(option)
                        }
                    })
                    .catch((error) => {
                        console.log("Unexpected error: " + error)
                    })                    
                } catch (err) {
                    console.error(`Error while loading language menu: ${err}`);
                }
            }

            document.getElementById('searchPlaceType').onclick = function () {
                console.log("Clicked on place type...")

                try {
                    // Get languages from data
                    url = "http://" + window.location.host + "/place_types";
                    // Replace ./data.json with your JSON feed
                    fetch(url).then((response) => {
                        return response.json()
                    })
                        .then((data) => {
                            // Clear menu
                            while (searchPlaceTypeDropdown.firstChild) {
                                searchPlaceTypeDropdown.removeChild(searchPlaceTypeDropdown.firstChild);
                            }
                            // Add default option
                            var option = document.createElement("option");
                            option.value = "ANY"
                            option.text = "ANY"
                            searchPlaceTypeDropdown.appendChild(option)

                            for (aType of data.place_types) {
                                var option = document.createElement("option");
                                option.value = aType
                                option.text = aType
                                searchPlaceTypeDropdown.appendChild(option)
                            }
                        })
                        .catch((error) => {
                            console.log("Unexpected error: " + error)
                        })
                } catch (err) {
                    console.error(`Error while loading place types: ${err}`);
                }
            }

            document.getElementById('searchPlaceCountry').onclick = function () {
                console.log("Clicked on place countries...")

                try {
                    // Get languages from data
                    url = "http://" + window.location.host + "/place_countries";
                    // Replace ./data.json with your JSON feed
                    fetch(url).then((response) => {
                        return response.json()
                    })
                        .then((data) => {
                            // Clear menu
                            while (searchPlaceCountryDropdown.firstChild) {
                                searchPlaceCountryDropdown.removeChild(searchPlaceCountryDropdown.firstChild);
                            }
                            // Add default option
                            var option = document.createElement("option");
                            option.value = "ANY"
                            option.text = "ANY"
                            searchPlaceCountryDropdown.appendChild(option)

                            for (aType of data.place_types) {
                                var option = document.createElement("option");
                                option.value = aType
                                option.text = aType
                                searchPlaceCountryDropdown.appendChild(option)
                            }
                        })
                        .catch((error) => {
                            console.log("Unexpected error: " + error)
                        })
                } catch (err) {
                    console.error(`Error while loading place types: ${err}`);
                }
            }

            // Search control functions
            function fnConstructSearchFilter(){
                url = "/search?maxResults=" + maxResultsInput.value
                if(displayOrder != ""){
                    url = url + "&displayOrder=" + displayOrder
                }
                // Cache
                if(maxSearchesCached.value != ""){
                    url = url + "&maxSearchesCached=" + maxSearchesCached.value
                }
                if(searchCacheExpiry.value != ""){
                    url = url + "&searchCacheExpiry=" + searchCacheExpiry.value
                }
                // Text search?
                if(tweetTextInput.value != ""){
                    //TODO: need to handle special characters
                    url = url + "&searchText=" + tweetTextInput.value

                    if(tweetTextSearchModeExact.checked){
                        url = url + "&searchMode=exact"
                    }
                    else if(tweetTextSearchModeAll.checked){
                        url = url + "&searchMode=all"
                    }
                    else{
                        url = url + "&searchMode=any"
                    }
                }
                // Handle hashtag search
                if (hashtagTextInput.value != "") {
                    //TODO: need to handle special characters
                    url = url + "&hashtagText=" + hashtagTextInput.value

                    if (hashtagTextSearchModeExact.checked) {
                        url = url + "&hashtagSearchMode=exact"
                    }
                    else if (hashtagTextSearchModeAll.checked) {
                        url = url + "&hashtagSearchMode=all"
                    }
                    else {
                        url = url + "&hashtagSearchMode=any"
                    }
                }
                // Handle people search
                if (peopleTextInput.value != "") {
                    //TODO: need to handle special characters
                    url = url + "&peopleText=" + peopleTextInput.value

                    // Creator
                    if (peopleSearchModeFrom.checked) {
                        url = url + "&peopleSearchMode=from"
                    }
                    // Reply
                    else if (peopleSearchModeReply.checked) {
                        url = url + "&peopleSearchMode=reply"
                    }
                    // Mention (tags/entities)
                    else {
                        url = url + "&peopleSearchMode=mention"
                    }
                }
                // Place Search
                if(searchPlaceCheckbox.checked){
                    console.log("Adding search by place")
                    console.log(searchPlaceTypeDropdown.value)
                    console.log(searchPlaceNameInput.value)
                    console.log(searchPlaceCountryDropdown.value)
                    if(searchPlaceTypeDropdown.value != "ANY"){
                        url = url + "&placeSearchType=" + searchPlaceTypeDropdown.value
                    }
                    if(searchPlaceNameInput.value != ""){
                        url = url + "&placeSearchName=" + searchPlaceNameInput.value
                    }
                    if(searchPlaceCountryDropdown.value != "ANY"){
                        url = url + "&placeSearchCountry=" + searchPlaceCountryDropdown.value
                    }
                }
                // Date Range
                if(searchTimeFrameCheckbox.checked){
                    url = url + "&startDate=" + searchStartDateInput.value
                    url = url + "&endDate=" + searchEndDateInput.value
                }
                // Language
                if(searchLanguageDropdown.value != "ANY"){
                    url = url + "&searchLang=" + searchLanguageDropdown.value
                }

                console.log(url)

                return url
            }

            // Load all tweets for this creator
            function fnLoadCreator(screenName){
                console.log("Loading creators only")
                url = "/search?maxResults=" + maxResultsInput.value
                if (displayOrder != "") {
                    url = url + "&displayOrder=" + displayOrder
                }
                url = url + "&peopleSearchMode=from" + 
                            "&peopleText=" + screenName

                console.log(url)
                tableTweets.ajax.url(url).load()
            }

            // Load a single tweet based on ID
            function fnLoadTweet(tweetID){
                

                url = "/tweet?tweet_id=" + tweetID

                console.log("Loading tweet", url)

                tableTweets.ajax.url(url).load()
            }

            // Load all tweets which match this hashtag
            function fnLoadHashtag(hashtag) {
                console.log("Loading hashtags")
                url = "/search?maxResults=" + maxResultsInput.value
                if (displayOrder != "") {
                    url = url + "&displayOrder=" + displayOrder
                }
                url = url + "&hashtagSearchMode=exact" +
                    "&hashtagText=" + hashtag

                console.log(url)
                tableTweets.ajax.url(url).load()
            }

            let tableTweets = new DataTable('#tweet-data', {
                // options
                searching: false,
                paging: true,
                pageLength: 10,
                processing: true,
                autoWidth: false,
                order: [],
                //ajax: {url: "/search?maxResults=" + maxResultsInput.value, type: "GET" },
                // add column definitions to map your json to the table
                columns: [
                    { width: "10%", data: "tweet_id" },
                    { width: "20%", data: "created_at" },
                    { width: "10%", data: "creator_screen_name",
                        "render": function (data, type, row, meta) {
                            outRecord = "<a href='#' onclick='fnLoadCreator(\"" + data + "\")'>" + 
                                        data + "</a>";
                            return outRecord;
                        }
                    },
                    { width: "40%", data: "text",
                        "render": function (text, type, row, meta) {
                            outRec = "<div style='max-width: 400px, overflow-wrap: break-word; word-break: break-word;'>" + 
                                text + "<br><br>"

                            if (row.retweet_id != "None"){
                                outRec = outRec + "<a href='#' onclick='fnLoadTweet(\"" + row.retweet_id + "\")'>Original Tweet</a>"
                            }

                            outRec + "</div>"

                            return outRec
                        }
                    },
                    { width: "20%", data: "hashtags",
                        "render": function (hashtags, type, row, meta) {
                            //console.log(hashtags)
                            outRecord = "<div style='max-width: 100px, overflow-wrap: break-word; word-break: break-word;'>"
                            for (let tag of hashtags) {
                                if (outRecord != "<div>"){
                                    outRecord = outRecord + ",&nbsp;"
                                }
                                outRecord = outRecord + "<a href='#' onclick='fnLoadHashtag(\""
                                    + tag + "\")''>" + tag + "</a>";
                            }
                            outRecord = outRecord + "</div>"
                            console.log(outRecord)
                            return outRecord;
                        }
                    }
                ]
            });

            searchButton.addEventListener('click', async _ => {
                tableTweets.ajax.url(fnConstructSearchFilter()).load()
            });

            // Handle insert start/stop and clear
            insertButton.addEventListener('click', async _ => {
                try {
                    if(insertButton.value == "Start"){
                        // Mode - only 2 options possible.
                        doStream = 0
                        if(streamModeButton.checked){
                            doStream = 1
                        }
                        // Only 2 samples available
                        if(sampleCorona2.checked){
                            sampleData="corona-out-2"
                        }
                        else{
                            sampleData="corona-out-3"
                        }
                        // Streaming delay (if streaming)
                        insertDelay=insertionDelayButton.value;
                        // Insert with streaming mode or not
                        url = "http://" + window.location.host + "/insert?" +
                                "stream=" + doStream + "&insertDelay=" + insertDelay +
                                "&sample=" + sampleData
                        console.log(url)
                    }else{
                        url = "http://" + window.location.host + "/stop"
                    }

                    const response = await fetch(url, {
                        method: "get"
                    });
                } catch (err) {
                    console.error(`Error triggering data insert: ${err}`);
                }
            });

            clearButton.addEventListener('click', async _ => {
                    try {
                        // Insert with streaming mode
                        url = "http://" + window.location.host + "/clear"
                        
                        const response = await fetch(url, {
                            method: "get"
                        });
                    } catch (err) {
                        console.error(`Error triggering data insert: ${err}`);
                    }
                });

            // Handle tabbed UI
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
            
            // Tab control handlers
            function openTab(evt, tabName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Only 2 tabs really, data (view) and ingestion. 
                // Simulate more by just changing the sort order.
                if (tabName != "Ingest"){
                    console.log(tabName)
                    displayOrder = tabName.toLowerCase() //shortcut to set the URL
                    tableTweets.ajax.url(fnConstructSearchFilter()).load() //re-run search with order
                    tabName = "DataTab" // set it to the one tab 
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
    </body>
</html>