<html>
    <head>
        <title>MSDS - Data Mgmt - Final Project - App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    </head>
    <body>
        <h2> Twitter Search Application </h2>
        <div class="parentContainer">
            <div class="sidenav">
                <h3>Search Option</h3>
                <!--<form name="searchOptionsForm" method="get" action="/tweets/search?">-->
                    <button class="accordion">Tweets</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input class="textInput" type="text" name="tweetText" placeholder="Type in string..."/>
                            <br><br>
                            Exact <input type="radio" name="tweetSearchMode" value="Exact" checked>
                            All <input type="radio" name="tweetSearchMode" value="All">
                            Any <input type="radio" name="tweetSearchMode" value="Any">
                        </p>
                    </div>

                    <button class="accordion">Hashtags</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input class="textInput" type="text" name="hashtagText" placeholder="Type in string..." />
                            <br><br>
                            All <input type="radio" name="hashtagSearchMode" value="All" checked>
                            Any <input type="radio" name="hashtagSearchMode" value="Any">
                        </p>
                    </div>

                    <button class="accordion">People</button>
                    <div class="panel">
                        <p style="margin-left: 20px;">
                            <input class="textInput" type="text" name="inputMatchExact" placeholder="@Person" />
                            <br><br>
                            From <input type="radio" name="peopleSearchMode" value="From" checked>
                            Reply <input type="radio" name="peopleSearchMode" value="InReply">
                            Mention <input type="radio" name="peopleSearchMode" value="Mention">
                        </p>
                    </div>

                    <button class="accordion">Language</button>
                    <div class="panel">
                        <p>
                            <!-- Replace with drop down for the language-->
                            <ul>
                                <li>English</li>
                                <li>French</li>
                            </ul>
                        </p>
                    </div>

                    <button class="accordion">Country</button>
                    <div class="panel">
                        <p>
                            <!-- Replace with drop down for the language-->
                            <ul>
                                <li>United States</li>
                                <li>India</li>
                            </ul>
                        </p>
                    </div>

                    <button class="accordion">Time Frame</button>
                    <div class="panel">
                        <p>
                            <!-- Replace with drop down for the language-->
                        <ul>
                            Start Date: <input id="startDate" type="date"><br>
                            End Date: <input id="endDate" type="date">
                        </ul>
                        </p>
                    </div>
                <!--</form>-->
            </div>

            <div class="mainBody">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Best')">Best</button>
                    <button class="tablinks" onclick="openTab(event, 'Latest')">Latest</button>
                    <button class="tablinks" onclick="openTab(event, 'Popular')">Popular</button>
                    <button class="tablinks" onclick="openTab(event, 'Authoritative')">Authoritative</button>
                </div>
                
                <!-- Tab content -->
                <div id="Best" class="tabcontent">
                    <h3>Best Matches</h3>
                    Return results based on the number of time matching tweets were 
                    liked and retweeted
                    <table id="tweet-data-best" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created At</th>
                                <th>Creator ID</th>
                                <th>Tweet</th>
                            </tr>
                            {% for tweet in tweets %}
                            <tr>
                                <td> {{ tweet['tweet_id'] }} </td>
                                <td> {{ tweet['created_at'] }} </td>
                                <td> {{ tweet['creator_id'] }} </td>
                                <td> {{ tweet['text'] }} </td>
                            </tr>
                            {% endfor %}
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                
                <div id="Latest" class="tabcontent">
                    <h3>Latest Matches</h3>
                    Return the latest results first based on search criteria
                    <table id="tweet-data-latest" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created At</th>
                                <th>Creator ID</th>
                                <th>Tweet</th>
                            </tr>
                            {% for tweet in tweets %}
                            <tr>
                                <td> {{ tweet['tweet_id'] }} </td>
                                <td> {{ tweet['created_at'] }} </td>
                                <td> {{ tweet['creator_id'] }} </td>
                                <td> {{ tweet['text'] }} </td>
                            </tr>
                            {% endfor %}
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                
                <div id="Popular" class="tabcontent">
                    <h3>Popular</h3>
                    <p>Returns matches based on those users with the most followers</p>
                </div>

                <div id="Authoritative" class="tabcontent">
                    <h3>Authoritative</h3>
                    <p>Returns matches based on those authors with the most retweets first</p>
                </div>
                <br>

                <!-- Data Insertion Control -->
               <div class="dataInsertionControl" ><div>
                    <H3>Data Insertion Control</H3>
                    <p style="width: 600px; word-break: break-all; word-wrap: break-word;">
                        This allows the user to simulate streaming of data into the application.
                        Specify the insertion speed in number of records per second and click
                        "Stream". Insertion delay can vary from 50 to 60000 milliseconds (60 seconds).
                        Effectively a rate of 20 records / second to 1 every minute. Keep in mind that 
                        system timer may not be precise enough to support single digit sleep.  
                        
                        User can also insert all the data at once in "batch" mode.
                        Please note "batch" mode doesn't actually insert in batches it just
                        eliminates the delay between records.
                    </p>
                    
                    <form id="insertionForm" method="get">
                        <label for="text">Delay (millis):</label>
                        <input type="number" min="50" max="60000" id="insertionDelay" name="insertionDelay" placeholder="10" value="10">
                        <input id="insertButton" type="button" value="Start" name="insertButton"> 
                        <input id="clearButton" type="button" value="Clear" name="clearButton">
                        <br> <br>
                        Stream <input id="streamMode" type="radio" name="ingestionMode" value="stream" checked>
                        Batch <input id="batchMode" type="radio" name="ingestionMode" value="batch">
                        Corona-Out-2 <input type="radio" name="dataSampleChoice" id="sampleCorona2" checked>
                        Corona-Out-3 <input type="radio" name="dataSampleChoice" id="sampleCorona3">
                    </form>
                    <div style="padding: 0px; border-style: inset; background-color: #b4b2b2; width: 200px">
                        <div id="insertProgress" style="background-color: #77a77a; width:0%;">0%</div>
                    </div>
                    <br>
                    <div id="log"></div>
                </div>
            </div>
        </div>

        <!------------------------------ Begin Script ----------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <script>
            // Initialize script globals
            var acc = document.getElementsByClassName("accordion");
            // Websocket is used to show progress as records are inserted into the DB
            var socket = io();
            // Insert button handle
            var insertionDelayButton = document.getElementById("insertionDelay")
            var streamModeButton = document.getElementById("streamMode")
            var insertButton = document.getElementById("insertButton");
            var clearButton = document.getElementById("clearButton")
            var insertProgressBar = document.getElementById("insertProgress")
            var sampleCorona2 = document.getElementById("sampleCorona2")

            // Initialize date controls
            var starDate = new Date();
            starDate.setDate(starDate.getDate() - 30);
            document.getElementById('startDate').valueAsDate = starDate;
            document.getElementById('endDate').valueAsDate = new Date();


            socket.addEventListener('update', event => {
                console.log(event)
                updateProgress(event.progress)
            });

            socket.addEventListener('stopped', event => {
                console.log(event)
                insertButton.value = "Insert"
            });

            socket.on('connect', function () {
                socket.emit('get_updates');
            });

            // Handle Websocket updates from server showing progress from processing Tweets
            const updateProgress = (progress) => {
                insertProgressBar.innerHTML = `${progress}`;
                insertProgressBar.style.width = `${progress}`

                insertButton.value = "Stop"
            };

            let tableBestTweets = new DataTable('#tweet-data-best', {
                // options
            });

            let tableLatestTweets = new DataTable('#tweet-data-latest', {
                // options
            });

            // Handle insert start/stop and clear
            insertButton.addEventListener('click', async _ => {
                try {
                    if(insertButton.value == "Start"){
                        // Mode - only 2 options possible.
                        doStream = 0
                        if(streamModeButton.checked){
                            doStream = 1
                        }
                        // Only 2 samples available
                        if(sampleCorona2.checked){
                            sampleData="corona-out-2"
                        }
                        else{
                            sampleData="corona-out-3"
                        }
                        // Streaming delay (if streaming)
                        insertDelay=insertionDelayButton.value;
                        // Insert with streaming mode or not
                        url = "http://" + window.location.host + "/insert?" +
                                "stream=" + doStream + "&insertDelay=" + insertDelay +
                                "&sample=" + sampleData
                        console.log(url)
                    }else{
                        url = "http://" + window.location.host + "/stop"
                    }

                    const response = await fetch(url, {
                        method: "get"
                    });
                } catch (err) {
                    console.error(`Error triggering data insert: ${err}`);
                }
            });

            clearButton.addEventListener('click', async _ => {
                    try {
                        // Insert with streaming mode
                        url = "http://" + window.location.host + "/clear"
                        
                        const response = await fetch(url, {
                            method: "get"
                        });
                    } catch (err) {
                        console.error(`Error triggering data insert: ${err}`);
                    }
                });

            // Handle tabbed UI
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
            
            // Handlers
            function openTab(evt, tabName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
    </body>
</html>